body,html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 150px auto;
}
.row{
    display: flex;
    flex-wrap: wrap
}
.item{
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 0 10px;
    box-sizing: border-box;
}
.card{
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all 1s;
}
.content{
    position: absolute;
    bottom: -100%;
    text-align: center;
    padding:40px;
    color:#ddd;
    box-sizing: border-box;
    transition: bottom 1s

}
ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
ul li{
    list-style: none;
    padding: 10px;
}
ul li a i{
    color:#ddd;
    font-size: 25px;
}
.item:nth-child(1) .card{
    position: relative;
    background-image: url(Evening_Forests_Mountains_Firewatch_Campo_Santo_549147_1366x768.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item:nth-child(1) .card::before{
    content: "";
    position: absolute;
    opacity: 0;
    background-image: linear-gradient(to top,#c21833,transparent);
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.item:nth-child(1):hover .card::before{
    opacity: 0.6;
}
.item:nth-child(1):hover .card{
    transform: translateY(-20px);
    box-shadow: 0 20px 20px rgba(0,0,0,.2)
}
.item:nth-child(1):hover .content{
    bottom: 0px;
}
.item:nth-child(2) .card{
    background-image: url(Harry_Potter_Castles_Fantastic_world_Hogwarts_516177_1366x768.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.item:nth-child(2) .card::before{
    content: "";
    position: absolute;
    opacity: 0;
    background-image: linear-gradient(to top,#3498db,transparent);
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.item:nth-child(2):hover .card::before{
    opacity: 0.6;
}
.item:nth-child(2):hover .content{
    bottom: 0px;
}
.item:nth-child(2):hover .card{
    transform: translateY(-20px);
    box-shadow: 0 20px 20px rgba(0,0,0,.2)
}
.item:nth-child(3) .card{
    background-image: url(lunar_dew_forest_by_jambi20-d6p71ld.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.item:nth-child(3) .card::before{
    content: "";
    position: absolute;
    opacity: 0;
    background-image: linear-gradient(to top,#9b59b6,transparent);
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.item:nth-child(3):hover .card::before{
    opacity: 0.6;
}
.item:nth-child(3):hover .content{
    bottom: 0px;
}
.item:nth-child(3):hover .card{
    transform: translateY(-20px);
    box-shadow: 0 20px 20px rgba(0,0,0,.2)
}
